@font-face {
  font-family: "Outfit";
  src: url("/fonts/Outfit-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Outfit Fallback";
  src: local('Verdana');
  ascent-override: 115.1027%;
  descent-override: 29.9267%;
  size-adjust: 86.8789%;
}

@font-face {
  font-family: "Bungee Shade";
  src: url("/fonts/BungeeShade-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Bungee Shade Fallback";
  src: local('Courier New'), local('CourierNewPSMT');
  ascent-override: 85.2506%;
  descent-override: 25.0737%;
  size-adjust: 119.6472%;
}

@font-face {
  font-family: "Noto Emoji";
  src: url("/fonts/NotoEmoji-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}





* {
	box-sizing: border-box;
}

.mainContain {
	width: 750px;
	margin: 0 auto;
}

html {
	--display-font: 'Bungee Shade', 'Bungee Shade Fallback', monospace;
	--body-font: Outfit, 'Outfit Fallback', system-ui, sans-serif;
	font-family: var(--body-font);
}

a {
	color: black;
}
a:not( h1 a ) {
	padding: 0.125ch 0.25ch;
	margin: -0.125ch -0.25ch;
}
a:hover {
	color: white;
	background: black;
}
a:active {
	color: black;
	background: none;
}

h1 a {
/* 	font-family: system-ui; */
	display: grid;
	font-size: 7.5rem;
	grid-template-columns: repeat(5, 1fr);
	line-height: 0.8;
	font-weight: normal;
	text-decoration: none;
	color: black;
	padding: 1rem 0;
}

h2, h3 {
	text-align: center;
	margin-bottom: 0;
	text-transform: uppercase;
	letter-spacing: 0.25ch;
	font-weight: 300;
	padding: 0.3625ch;
	line-height: 1;
}
h2 {
	background-color: black;
	color: white;
	margin-block: 0;
}
h3 {
	border-bottom: 0.175rem solid black;
	margin-block: 2rem;
}
h3 span {
	background: white;
	padding: 0.125em;
	padding-inline-start: 0.4ch;
	position: relative;
	top: 0.875em;
}

ruby {
	ruby-position: under;
	-webkit-ruby-position: after;
	text-align: center;
	font-family: var(--display-font);
}

rt, rp {
	font-size: 1rem;
	font-family: var(--body-font);
	font-weight: 500;
}

table {
	border-collapse: collapse;
	--tableWidth: 750px;
	width: var(--tableWidth);
}
td {
	width: calc(var(--tableWidth) / 5);
	height: calc(var(--tableWidth) / 5);
	border: 3px solid black;
	background-color: white;
	padding: 0.5rem;
	font-size: 1.125rem;
}
.clickable {
	cursor: pointer;
}
td.long {
	font-size: 1rem;
}
td.extra.long {
	font-size: 0.875rem;
}
td.super.extra.long {
	font-size: 0.75rem;
}
td.super.duper.extra.long {
	font-size: 0.625rem;
}
td.freespace {
	background: black;
}
.freespace img {
	display: block;
	position: relative;
	z-index: 9;
	width: calc(100% + 2.25rem);
	height: auto;
	margin-left: -1.125rem;
	margin-right: -1.125rem;
}
td.checked {
	background-color: black;
	color: white;
}

table.thumb {
	--tableWidth: 5.125rem;
	break-inside: avoid;
}
table.thumb td {
	padding: 0;
	border: 2px solid black;
}

ul.players {
	list-style: none;
	padding: 0;
	margin-block: 2rem;
	display: grid;
	grid-auto-flow: column;
	grid-template-rows: repeat(6, 1fr);
}

.mainContain[data-game="2023"] ul.players {
	grid-template-rows: repeat(6, 1fr);
}

.mainContain[data-game="summer2024"] ul.players {
	grid-template-rows: repeat(5, 1fr);
}

.players li {
	list-style: none;
}
.players div {
	display: flex;
	width: 100%;
	justify-content: left;
	align-items: center;
}
.players a:hover div {
	background: black;
}

.players a {
	text-decoration: none;
	display: contents;
}
.players .thumb {
	margin: 0.75rem;
}

h4 {
	font-size: 2rem;
	font-weight: normal;
	margin: 0;
}

.prizes {
	margin: 1rem;
	padding: 0;
	margin-block-start: 4rem;
}

.prizes li:not(dd > ol > li) {
	display: grid;
	grid-template-columns: 7rem 1fr; 
	margin-bottom: 2rem;
}

.emoji {
	font-family: 'Noto Emoji';
	font-weight: 400;
	font-size: 4rem;
	display: block;
	line-height: 1;
	margin: 0;
	margin-top: 0.5rem;
}

.what small {
	display: block;
	font-size: 0.5em;
}
.prizes dl {
	margin-top: 0.5em;
}
.prizes dl div {
	margin-bottom: 0.5em;
}
.prizes dt:after {
	content: ":";
}
.prizes dd {
	font-size: 1.25rem;
	margin-inline-start: 0.25em;
}

table.tiny {
	--tableWidth: 1.5rem;
	display: inline-table;
	margin-inline: 0.25ch;
	vertical-align: top;
}
table.tiny td {
	padding: 0;
	border: 1px solid black;
	cursor: unset;
}

.prizes.claimed .what {
	text-decoration: line-through;
	text-decoration-thickness: 0.125ch;
}

ins {
	text-decoration: none;
	font-style: italic;
}

.years {
	list-style:	none;
	margin-inline-start: 0;
	width: 100%;
	padding: 0;
	margin: 0;
}
.years > li {
	text-align: center;
	display: block;
}
.years > li > a {
	font-family: var(--display-font);
	font-size: 12rem;
	text-decoration: none;
	padding: unset;
	padding-bottom: 0.2ch;
	margin: unset;
	display: block;
}
.centerContainer {
	height: calc(100vh - 2em);
	height: calc(100vh - 2em);
	display: grid;
	place-items: center;
}

.winner {
    background-clip: text;
    -webkit-background-clip: text;
	background-image: url(https://o.img.rodeo/image/upload/e_gamma:-20/e_contrast:50/e_saturation:100/v1694551219/xjzwt30hk4jfnyobz571.gif);
	color: transparent;
	background-size: contain;
	text-shadow: 0 0 0.05ch rgb(80% 20% 90% / 0.1),
	             0 0 0.25ch rgb(80% 20% 70% / 0.125),
	             0 0 0.6ch rgb(80% 50% 20% / 0.125),
	             0 0 3.2ch rgb(80% 50% 30% / 0.25),
	             0 0 5ch rgb(90% 50% 20% / 0.25);
}
.winner::after {
    content: "🏆";
}
.smallcaps {
	font-size: 0.8625em;
}

/*
@view-transition {
    navigation: auto;
}

:root::view-transition-group(*) {
  animation-duration: 0.125s;
}
*/